*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    padding: 16px 0;
    background-color: rgb(179, 23, 145);
    color: rgb(238, 210, 232);
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

body{
    color: #0f0c0c;
    background-color: rgb(229, 201, 231);
}

section.form{
    margin-top: 12%;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

form input,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form button{
    background-color: rgb(161, 35, 130);
    color: black;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(200, 151, 246);
}

input:focus{
    outline-color:rgb(174, 140, 242); ;
}

.mensagenVeradeiro{
    color: #000000;
    background-color: chartreuse;
    display: none;
    padding: 16px;

}

.mensagenFalso{
    padding: 16px;
    background-color: red;
    color: #000000;
    display: none;
}